* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active a {
    color: #000;
}

#nav-mg {
    margin: 0 50px;
}

.user-log i {
    margin: 0 8px;
    font-size: 18px;
    color: #5A4D4D;
    cursor: pointer;
}

.bg-custom {
    background-color: #7cf071c7 !important;
}

#navbarSupportedContent a {
    color: #5A4D4D;
    font-size: 1.1rem;
}

.dropdown-item a {
    color: black;
}

.carousel-container {
    position: relative;
    margin: 12px 0;
    border-radius: 20px;
    overflow: hidden;
}

.carousel-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-image: fill 0 linear-gradient(#0003, #000);
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    border-radius: inherit;
}

/*------------- CONTAINER 2 ------------- */

.img-head {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    margin-top: 4rem;
}

.farmer-img {
    flex: 0.5;
    margin-right: 15px;
}

.farmer-img img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
}

.farmer-headline {
    flex: 1;
    text-align: end;
    margin: auto 0;
}

.farmer-headline h2 {
    font-size: 4.5rem;
    font-family: "League Spartan", "Poppins", sans-serif;
    text-align: end;
    letter-spacing: 0.2rem;
    color: #7cf071;

}

#buy-sell,
#sell-buy {
    margin-left: 50px;
    margin-top: 2rem;
    padding: 8px 40px;
    border-radius: 8px;
}
































@media screen and (max-width: 1024px) {

    .carousel-container {
        margin: 8px 0;
        border-radius: 15px;
    }

    .carousel-inner img {
        height: auto;
        object-fit: cover;
    }

    .carousel-border {
        padding: 10px;
    }

    .img-head {
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .farmer-img {
        margin-right: 0;
        margin-bottom: 15px;
        flex: 0.5;
        width: 80%;
    }

    .farmer-headline h2 {
        font-size: 3rem;
        text-align: right;
        margin-right: 1.2rem;
    }

    #buy-sell,
    #sell-buy {
        margin-left: 0;
        margin-top: 2rem;
        margin-left: 1.2rem;
    }

    .carousel-container {
        margin: 10px 0;
        border-radius: 18px;
    }

    .carousel-inner img {
        height: auto;
        object-fit: cover;
    }

    .carousel-border {
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    .img-head {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .farmer-img {
        margin-right: 0;
        margin-bottom: 2.8rem;
        flex: none;
        width: 80%;
    }

    .farmer-headline h2 {
        font-size: 3rem;
        text-align: center;
    }

    #buy-sell,
    #sell-buy {
        margin-left: 0;
        margin-top: 1.5rem;
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    #nav-mg {
        margin: 0;
    }

    .carousel-container {
        margin: 4px 0;
        border-radius: 10px;
    }

    .carousel-inner img {
        height: auto;
        object-fit: cover;
    }

    .carousel-border {
        padding: 5px;
    }

    .farmer-headline h2 {
        font-size: 2rem;
    }

    #buy-sell,
    #sell-buy {
        width: 100%;
    }
}